
{% extends 'AppBundle::base.html.twig' %}

{% block rootbody %}

    {% set modalDialogClass = 'modal-dialog' %}
    {% if config.sizeMode is defined %}
        {% if config.sizeMode == 'large' %}
            {% set modalDialogClass = 'modal-dialog modal-lg' %}
        {% elseif config.sizeMode == 'small' %}
            {% set modalDialogClass = 'modal-dialog modal-sm' %}
        {% elseif config.sizeMode == 'full-page' %}
            {% set modalDialogClass = 'modal-dialog modal-fp' %}
        {% endif %}
    {% endif %}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="{{ modalDialogClass }}" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% if config.reducedImage is defined %}
                        <img src="{{ config.reducedImage }}" class="pull-right" />
                    {% endif %}
                    <h4 class="modal-title" id="myModalLabel">
                        {{ config.title | default('') }}
                    </h4>
                </div>
                <div class="modal-body">
                    {% if config.theme != 'default' and config.theme != 'primary' %}
                        <div class="alert alert-{{ config.theme }}" role="alert">
                            {{ config.text | default('') }}
                        </div>
                    {% else %}
                        {{ config.text | default('') }}
                    {% endif %}

                    {% if config.image is defined %}
                        <img src="{{ config.image }}" />
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-{{ config.theme | default('default') }}"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style>
        {% if config.sizeMode is defined and config.sizeMode == 'full-page' %}
            /* Modal full page size */
            .modal-fp {
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
            }
            .modal-fp .modal-content {
                height: 100%;
                border-radius: 0;
                overflow: auto;
            }
        {% endif %}

        {% if config.sizeMode is defined and config.sizeMode == 'custom' %}
            {% if config.width is defined and config.width is not empty %}
                /* Modal custom width */
                .modal-dialog {
                    width: {{ config.width }}px;
                }
            {% endif %}

            {% if config.height is defined and config.height is not empty %}
                /* Modal custom height */
                .modal-dialog {
                    height: {{ config.height }}px;
                }
                .modal-content {
                    height: 100%;
                }
            {% endif %}
        {% endif %}

        {% if config.reducedImage is defined %}
            .modal-header img {
                margin-right: 10px;
            }
        {% endif %}
    </style>

{% endblock %}

{% block javascripts %}

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(window).load(function() {
            $('#myModal').modal('show');
        });
    </script>

{% endblock %}



